body {
    padding-top: 50px;  /* padding for fix navbar */
}

.carousel-inner {
    max-height: 800px;
}

.carousel-caption{
    color: black;
}

.card {
    margin-bottom: 20px;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.message {
    font-size: larger;
}

.container{
    margin-top: 50px;
}

.fit{
    width: 100%;
}