#game-window{
    border: rgb(147, 210, 255) 2px solid;
    padding-bottom: 15px !important;
}

#kick-image{
    width: 100%;
}

.game-controls{
    padding: 15px;
    margin: 15px;
}


.form-text.small{
    font-size: 12px;
}

.game-output{
    margin: 12px;
}

.row{
    padding: 15px 0px;
}

#word-container{
    background-color: aliceblue;
}

.letter-box{
    margin: 4px;
    height: 43px;
    width: 23px;
    border-bottom: darkblue 1px solid;
    text-align: center;
    font-size: 2em;
}

#gallows-container{
    margin:auto;
}

#gallows-container pre{
    font-size:1.3em;
    line-height:normal;

}


footer{
    background-color: whitesmoke;
}
footer a{
    text-decoration: none;
    margin-left: 6px;
}