html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.page-content {
    flex: 1 0 auto;
}

#game-window{
    border: rgb(128, 152, 188) 2px solid;
    padding-bottom: 15px !important;
}

#kick-image{
    width: 100%;
}

.game-controls{
    padding: 15px;
    margin: 15px;
}


.form-text.small{
    font-size: 12px;
}

.game-output{
    margin: 12px;
}

.row{
    padding: 15px 0px;
}


#gallows-container{
    margin:auto;
}

#gallows-container pre{
    font-size:1.3em;
    line-height:normal;

}

#word-container{
    background-color: aliceblue;
}

.letter-box{
    height: 43px;
    width: 23px;
    border-bottom: darkblue 1px solid;
    margin-bottom: 5px;
    text-align: center;
    font-size: 2em;
}
#word-container .spacer{
    max-width: 20px;
    flex-grow: 1;
}

#guess-history label{
    color: dimgray;
    font-size: 1em;
}
#letters-guessed{
    color: dimgray;
    font-size: 1.2em;
}

footer{
    background-color: whitesmoke;
}
footer a{
    text-decoration: none;
    margin-left: 6px;
}