#game-window{
    border: dodgerblue 2px solid;
    padding-bottom: 15px !important;
}

.game-controls{
    background-color: aliceblue;
    height: 400px;
    padding: 15px;
    margin: 15px;
}

.game-output{
    background-color: azure;
    height: 100%;
    padding: 15px;
    margin: 15px;
}

#kick-image{
    width: 100%;
}

.row{
    padding: 15px 0px;
}

#game-window label{
    width: 160px;
}
